<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="Magento/Framework/ObjectManager/etc/config.xsd">
    <virtualType name="QaisarSatti\HelloWorld\HelloWorldImageUpload" type="Magenest\EavTest\Model\ImageUploader">
        <arguments>
            <argument name="baseTmpPath" xsi:type="string">customer/tmp</argument>
            <argument name="basePath" xsi:type="string">customer</argument>
            <argument name="allowedExtensions" xsi:type="array">
                <item name="jpg" xsi:type="string">jpg</item>
                <item name="jpeg" xsi:type="string">jpeg</item>
                <item name="gif" xsi:type="string">gif</item>
                <item name="png" xsi:type="string">png</item>
            </argument>
        </arguments>
    </virtualType>
</config>